//====================================================================================================
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
        width: 100%;

    }
}

//====================================================================================================