//====================================================================================================
h1 {
    // font-size: 52px;
    font-weight: 700;
    color: #F9E994;
    text-align: center;
    max-width: 53.3%;
    line-height: normal;
    @include adaptiveValue("font-size", 52, 20);
}

.petNaturals {
    position: relative;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 5;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    // .petNaturals__container
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 156, 50);
        @include adaptiveValue("padding-bottom", 100, 40);
    }

    // .petNaturals__body
    &__body {
        display: flex;
        justify-content: space-around;

        @include adaptiveValue("margin-top", 10, 5);

        @media (max-width: 640px) {
            flex-direction: column;
        }
    }

    // .petNaturals__text
    &__text {
        flex: 0 1 40%;
        position: relative;
    }

    // .petNaturals__list

    &__list {}

    // .petNaturals__image

    &__image {
        position: relative;
        flex: 0 1 65.5%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: rem(1440)) {
            display: none;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            // width: rem(300);
            @include adaptiveValue("width", 290, 50);
            // width: 100px;
            height: 87%;
            background-image: url(../img/01/cat.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            display: block;
            z-index: 1;

            @media (max-width: rem(1440)) {
                display: none;
            }
        }

        &::before {
            bottom: 10px;
            left: 0;
            transform: scale(-1, 1) translateX(80px);
        }

        &::after {
            bottom: 10px;
            right: 0;
            transform: translateX(80px);

        }

        img {
            // position: relative;
            // width: 75%;
            object-fit: cover;
        }
    }

    // .petNaturals__form

    &__form {
        flex: 0 1 35%;

        @media (max-width:$mobile) {
            // flex: 0 1 50%;

        }
    }
}

.text-petNaturals {

    // .text-petNaturals__title
    &__title {
        position: relative;
        color: #F6F7E4;
        font-weight: 700;
        @include adaptiveValue("font-size", 26, 14);
        line-height: 34px;

    }
}

.list-petNaturals {
    background-color: #7FB3E1;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 38px;
    border-radius: rem(20);
    @include adaptiveValue("margin-top", 60, 20);

    @media (max-width: 640px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    // .list-petNaturals__item
    &__item {
        position: relative;
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        padding-left: rem(30);
        max-width: rem(250);

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 20, 10);

        }
&:hover{
text-decoration: underline;
}
        &::before {
            position: absolute;
            content: '';
            top: 10px;
            left: 0;
            width: 18.1px;
            height: 24px;
            background-image: url(../img/01/paw.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .form__info
    &__info {
        position: relative;
        padding: 23px 24px 40px 24px;
        width: 100%;
        background-image: url(../img/01/background.png);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 2;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        >p:not(:first-child) {
            margin-top: 5px;
        }
    }

    span {
        position: relative;
        @include adaptiveValue("font-size", 30, 14);
        font-weight: 700;
        line-height: normal;
        color: #6b6b6b;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            top: 15px;
            left: 0;
            background-color: #F6BE91;
            transform: rotate(162.55deg);
        }
    }

    &__price {
        color: $mainColor;
        font-weight: 700;
        line-height: normal;
        @include adaptiveValue("font-size", 36, 16);
        text-align: center;
    }

    // .info-form__title
    &__title {
        @include adaptiveValue("font-size", 33, 16);
        line-height: normal;
        font-weight: 700;
        color: $mainColor;
        text-align: center;
    }

    // .info-form__time
    &__time {
        font-weight: 700;
        line-height: normal;
        font-size: 36px;
        @include adaptiveValue("font-size", 36, 16);

        color: $lightYellow;
        text-align: center;

    }

    &__box {
        width: 97.3%;
        position: relative;
        background-color: #FDFCFC;
        padding-top: rem(46);
        transform: translateY(-30px);
        padding-bottom: rem(20);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    // .form__body
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        z-index: 1;
    }

    // &__inputBox {

    // }

    // .form__input
    &__input {
        position: relative;
        width: 90%;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            margin-top: rem(-12);
            left: 10px;
            width: 24px;
            height: 24px;
            background-image: url(../img/01/paw2.svg);

            background-position: top;
            background-size: 100%;
            background-repeat: no-repeat;
            fill: #fff;
            // z-index: 5;
        }

        input {
            width: 100%;
            font-size: 16px;
            vertical-align: middle;
            font-weight: 700;
            line-height: normal;
            padding-left: 40px;
            background-color: #F3EFEF;
            border-radius: 30px;
            height: rem(50);
            color: #777;

            &:focus {
                outline: 1px solid #7EB2E1;
            }

            &:invalid {
                outline: 1px solid red;
            }
        }
    }



    // .form__button
    &__button {
        text-transform: uppercase;
        color: #fff;
        @include adaptiveValue("font-size", 30, 16);
        font-weight: 700;
        line-height: normal;
        background-color: #A1D337;
        width: 90%;
        height: 50px;
        border-radius: 30px;
        text-align: center;
transition: all 0.3s;
        &:hover{
            transform: scale(1.05);
            background-color: #7dac19;

        }
    }

    // .form__orderDate

    &__orderDate {
        color: #444;
        font-size: 18px;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        margin-top: rem(30);
    }
}

//====================================================================================================
h2 {
    @include adaptiveValue("font-size", 52, 20);
    @include adaptiveValue("padding-top", 100, 20);
    text-align: center;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, rgba(249, 233, 148, 1) 0%, rgba(83, 125, 19, 1) 56%, rgba(72, 60, 8, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.manufacturer {
    background-image: url(../img/background2.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    @include adaptiveValue("padding-bottom", 101, 10);

    // .manufacturer__container
    &__container {}


}

.items-box {
    @include adaptiveValue("margin-top", 60, 20);
    display: flex;
    align-items: start;
    justify-content: center;
    @include adaptiveValue("gap", 84, 10);

    @media (max-width:$mobile) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }


    // .items-box__item
    &__item {
        flex: 0 1 33.333%;
        background-color: $lightYellow;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 15px 15px 15px;
        min-height: rem(439);
        justify-content: center;
        // @include adaptiveValue("gap", 30, 5);
        gap: 10px;

        @media (max-width:$mobile) {
            min-height: auto;
        }
    }

    // .items-box__image
    &__image {
        flex: 0 1 50%;
        max-width: rem(186);
        // max-height: rem(164);
        object-fit: cover;

        @media (max-width:$mobile) {
            max-width: 100%;
        }

        img {
            width: 100%;
        }
    }

    // .items-box__text
    &__text {}
}

.text-items-box {
    position: relative;
    padding: rem(14) rem(15) rem(20) rem(15);
    background-color: rgba(161, 211, 55, 0.4);
    // color: #a1d337;
    min-height: 50%;
    flex: 0 1 55%;
    // .text-items-box__title
    max-height: rem(203);
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 25px;
        background: linear-gradient(180deg, transparent, #a1d337 50%);
      }
    &__title {
        color: #fff;
        @include adaptiveValue("font-size", 22, 16);
        text-align: center;
        font-weight: 700;
        line-height: normal;
    }

    // .text-items-box__body

    &__body {
        @include adaptiveValue("font-size", 18, 14);
        text-align: center;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
    }
}

// /////////////////////////////////////////////
h3 {
    color: #537d13;
    font-size: 52px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    @include adaptiveValue("font-size", 52, 20);

}

.bestUses {

    @include adaptiveValue("padding-top", 99, 20);
    @include adaptiveValue("padding-bottom", 200, 20);
    // .bestUses__container
    background-image: url(../img/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    // margin-bottom: rem(197);

    &__container {}

    // .bestUses__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: auto;
        min-height: 100%;
        @include adaptiveValue("margin-top", 48, 15);
    }

    // .bestUses__text

    &__text {
        background-image: url(../img/background4.png);
        background-position: top;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 40px 98px 41px 40px;
        @include adaptiveValue("padding-top", 60, 10);
        @include adaptiveValue("padding-right", 98, 15);
        @include adaptiveValue("padding-bottom", 78, 15);
        @include adaptiveValue("padding-left", 98, 15);

        @media (max-width:640px) {
            background-image: none;
        }

        p:not(:first-child) {
            @include adaptiveValue("margin-top", 20, 5);
        }

        p {
            max-width: 622px;
            color: #483c08;
            @include adaptiveValue("font-size", 18, 14);
            text-align: left;
            font-weight: 400;
            line-height: 23px;

        }

    }

    // .bestUses__image

    &__image {
        flex: 0 1 auto;

        @media (max-width:1024px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}