*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 984px;
    margin: 0px auto;
    padding: 0px 16px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__logo {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo img {
    /* float: left; */
}

.header__logo p {
    /* margin-left: 8px; */
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #F07F2E;
}

.menu__list {
    display: flex;
    /* gap: 40px; */
    align-items: center;
}

.menu__item:not(:first-child) {
    margin-left: 40px;
}


.menu__link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2C2C2C;
}

.menu__link:hover {
    color: #F07F2E;
}

.helo {
    position: relative;
    height: 480px;
    background-color: orange;
    border-radius: 16px;
    background-image: url(./img/helo-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.helo__container {
    position: absolute;
    left: 28px;
    bottom: 52px;
    padding: 24px;
    background: #0f3f3c;
    border-radius: 16px;
    width: 432px;
}

.helo__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.25px;
    color: #ffffff;
    margin-bottom: 8px;
}

.helo__text {
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.they-ready {
    padding-top: 60px;
}

.they-ready__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #2c2c2c;
}

.they-ready__list {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

@media (max-width:1000px) {
    .they-ready__list {
        gap: 20px;

    }
}

@media (max-width:800px) {
    .they-ready__list {
        flex-direction: column;

    }
}

.they-ready__card {
    flex: 0 1 33.333%;
    border-radius: 16px;
}

.they-ready__card:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.card__image {
    display: block;
    width: 100%;
}

.card__content {
    padding: 16px 8px 24px 8px;
}

.card__content h3 {
    margin-bottom: 8px;
}

.card__content p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #2c2c2c;
}

.card__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.card__text {
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.gallery__container {
    margin-bottom: 60px;
    padding-top: 60px;

}

.gallery__text {
    margin-top: 8px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #2c2c2c;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
}

.gallery__item {
    flex-basis: calc((100% - 5 * 16px) / 6);
    border-radius: 16px;
    overflow: hidden;
}

@media (max-width:1000px) {
    .gallery__item {
        flex-basis: calc((100% - 3 * 16px) / 4);
    }
}

.gallery__item img {
    width: 100%;
}

.gallery__item:hover {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));

}

/* calc((100% - кіль-сть_відступів_в_рядку * значення_одного_відступу) / кіль-сть_елементів_в_рядку) */
.helo__container {}

.footer {
    background-color: #0F3F3C;
    padding-top: 48px;
    padding-bottom: 48px;
}

.social__text {
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: right;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    letter-spacing: 0.5px;
    line-height: 123%;
    color: #fff;
}

.social__links {
    display: flex;
    gap: 8px;

}

.social__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* background-color: #F07F2E; */

}

.social__links a:hover {
    background-color: #fff;
}

.social__links svg {
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
}

.social__links a:hover svg {
    fill: #F07F2E;

}