* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: #000;
    line-height: 1;
    font-family: "";
    font-size: 16px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

input,
button,
textarea {
    font-family: "";
    font-size: inherit;
    line-height: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer__input{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    transition: opacity 1s ease, visibility 1s ease;

}

.input__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.initial{
    position: relative;
    width: 140px;
    height: 140px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
    border: 1px solid #fff;
}

.initial i {
    position: absolute;
    border: 10px solid rgba(97, 93, 93, 0.2);
    border-width: 0 7px 7px 0;
    display: inline-block;
}

.initial i:hover {
    border-color: rgba(173, 157, 157, 0.5);
}

.input__title {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.initial__numb {
    font-size: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    color: #fff;
}
/* ********************************************************* */
.timer__work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    transition: opacity 1s ease, visibility 1s ease;
}

.work__item {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-animation {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.work__insert {
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 120px;
    height: 120px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
    color: #fff;
}

.work__title {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

/* ************************************************************* */
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: calc(50% - 7px);
    left: 7px;
    padding: 7px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: calc(50% - 7px);
    right: 7px;
    padding: 7px;
}

.butt {
    position: absolute;
    bottom: 110px;
    border-radius: 15px;
    overflow: hidden;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.butt__container{
    position: relative;
    width: 200px;
    height: 70px;
    overflow: hidden;
}
.butt__start {
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    outline: none;
    font-size: 30px;
    background-color: #58FF5E;
    left: 0;
    top: 0;
    text-align: center;
    transition: all 0.5s ease;

}
@media (any-hover:hover) {
    .butt__start:hover,
    .butt__stop:hover{
        transform: scale(1.01);
        filter: saturate(150%);
    }
    .reset:hover{
        filter: saturate(150%);
        transform: scale(1.02);
    }
}

.butt__stop {
    position: absolute;
    display: block;
    width: 200px;
    height: 70px;
    background-color: #FF5E58;
    font-size: 30px;
    border-radius: 10px;
    right: -150%;
    transition: all ease 1s; 
    color: #fff;
}

.stop-active {
    right: 0;
}

.reset {
    display: flex;
    top: -100px;
}
.reset a{
    fill: #FF5E58;
}

.timer__input.windowNone,
.timer__work.windowNone {
    visibility: hidden;
    opacity: 0;
}

.invalid {
    color: red;
}