//====================================================================================================
.pet-naturals {
    position: relative;
    background-image: url(@img/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 5;
    @include adaptiveValue("padding-top", 156, 50);
    @include adaptiveValue("padding-bottom", 100, 20);

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .pet-naturals__title {
        position: relative;
        margin: 0 auto;
        font-weight: 700;
        color: #F9E994;
        text-align: center;
        max-width: 53.3%;
        line-height: normal;
        margin-bottom: rem(20);
        margin-top: rem(23);
        text-align: center;
        @include adaptiveValue("font-size", 52, 20);
        z-index: 10;

        @media (max-width: 768px) {
            margin-top: rem(27);
        }
        @media (max-width: 991px) {
            max-width: 70%;
        }
        @media (max-width: 425px) {
            max-width: 100%;
        }
    }

    // .pet-naturals__body
    &__body {
        position: relative;
        gap: 10px;
        display: flex;
        justify-content: space-around;
        z-index: 10;
        @include adaptiveValue("margin-top", 10, 5);

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: rem(50);
        }
    }

    // .pet-naturals__content
    &__content {
        flex: 0 1 40%;
        position: relative;

        p{
            color: #F6F7E4;
            font-weight: 700;
            @include adaptiveValue("font-size", 26, 14);
            line-height: rem(34);
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
    }

    // .pet-naturals__list
    &__list {}

    // .pet-naturals__image

    &__image {
        position: relative;
        flex: 0 1 65.5%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: rem(1439)) {
            flex: 0 1 33.33%;
        }
        @media (max-width: rem(1023)) {
            display: none;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            @include adaptiveValue("width", 290, 50);
            height: 87%;
            background-image: url(@img/01/cat.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            display: block;
            z-index: 1;
            bottom: 0;

            @media (max-width: rem(1439)) {
                display: none;
            }
        }

        &::before {
            left: 0;
            transform: scale(-1, 1) translateX(80px);
        }

        &::after {
            right: 0;
            transform: translateX(80px);
        }

        img {
            object-fit: cover;
        }
    }

    // .pet-naturals__form

    &__form {
        flex: 0 1 35%;
    }
}

.list-pet-naturals {
    background-color: #7FB3E1;
    padding: rem(35) rem(5) rem(38) rem(35);
    border-radius: rem(20);
    @include adaptiveValue("margin-top", 60, 20);

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: rem(20) rem(20) 0 0;
    }
    @media (max-width: 425px) {
        align-items: flex-start;
    }


    // .list-pet-naturals__item
    &__item {
        position: relative;
        font-size: rem(22);
        font-weight: 700;
        line-height: normal;
        padding-left: rem(30);
        max-width: rem(250);

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 20, 10);
        }

        @media (max-width: 768px) {
            &:first-child{
                align-self: flex-start;
            }
            &:last-child{
                align-self: flex-end;
            }
        }
        @media (max-width: 425px) {
            &:last-child{
                align-self: flex-start;
            }
        }
        @media (max-width: rem(1439)) {
                max-width: 100%;
        }

        &::before {
            position: absolute;
            content: '';
            top: 10px;
            left: 0;
            width: 18.1px;
            height: 24px;
            background-image: url(../img/01/paw.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top;

            @media (min-width:rem(1025)) and (max-width: rem(1439)) {
                top: 0;
            }

            @media (max-width: 768px) {
                top: 0;
            }
        }
    }
}

.form-pet-naturals {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    // .form-pet-naturals__info
    &__info-block {
        position: relative;
        padding: rem(23) rem(24) rem(40) rem(24);
        padding-bottom: rem(10);
        width: 100%;
        z-index: 2;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 10;

        @media (max-width: 768px) {
            background-color: #7EB2E1;
        }


        >p:not(:first-child) {
            margin-top: 5px;
        }

        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 190px;
            top: 0;
            left: 0;
            background-image: url(../img/01/background.png);
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    // .form-pet-naturals__form-box
    &__form-box {
        width: 100%;
        position: relative;
        background-color: #FDFCFC;
        padding-top: rem(46);
        padding-bottom: rem(20);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.info-block{
    span {
        position: relative;
        @include adaptiveValue("font-size", 30, 14);
        font-weight: 700;
        line-height: normal;
        color: #6b6b6b;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            top: 15px;
            left: 0;
            background-color: #F6BE91;
            transform: rotate(162.55deg);

            @media (max-width: 425px) {
                top: 10px;
            }
        }
    }

    &__price {
        position: relative;
        color: $mainColor;
        font-weight: 700;
        line-height: normal;
        @include adaptiveValue("font-size", 36, 16);
        text-align: center;

        @media (max-width: 768px) {
            @include adaptiveValue("font-size", 36, 20);
        }
    }

    // .info-form__title
    &__title {
        position: relative;
        @include adaptiveValue("font-size", 33, 20);
        line-height: normal;
        font-weight: 700;
        color: $mainColor;
        text-align: center;
    }

    // .info-form__time
    &__time {
        position: relative;
        font-weight: 700;
        line-height: normal;
        @include adaptiveValue("font-size", 36, 20);
        color: $lightYellow;
        text-align: center;

        @media (max-width: 768px) {
            @include adaptiveValue("font-size", 36, 20);
        }
    }
}

.form-box{
    overflow-y: visible;

  // .form-box__body
    &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 1;
}

    // .form-box__input
    &__input {
        position: relative;
        width: 90%;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            margin-top: rem(-12);
            left: 10px;
            width: 24px;
            height: 24px;
            background-image: url(../img/01/paw2.svg);
            background-position: top;
            background-size: 100%;
            background-repeat: no-repeat;
            fill: #fff;
        }

        input {
            width: 100%;
            font-size: 16px;
            vertical-align: middle;
            font-weight: 700;
            line-height: normal;
            padding-left: 40px;
            background-color: #F3EFEF;
            border-radius: 30px;
            height: rem(50);
            color: #777;

            &:focus {
                outline: 1px solid #7EB2E1;
            }
            &:user-valid{
                outline: 1px solid greenyellow;
            }
            &:user-invalid{
                outline: 1px solid red;
            }
        }
    }

      // .form-box__button
    &__button {
        text-transform: uppercase;
        color: #fff;
        @include adaptiveValue("font-size", 30, 16);
        font-weight: 700;
        line-height: normal;
        background-color: #A1D337;
        width: 90%;
        height: 50px;
        border-radius: 30px;
        text-align: center;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover{
                transform: scale(1.05);
                background-color: #7dac19;
            }
        }
    }

    // .form-box__order-date
    &__order-date {
        color: #444;
        @include adaptiveValue("font-size", 18, 14);
        font-style: normal;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        margin-top: rem(30);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

//====================================================================================================
.manufacturer {
    background-image: url(../img/background2.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    @include adaptiveValue("padding-bottom", 101, 10);

    &__container{
        max-width: 1085px;
    }

    &__title {
        @include adaptiveValue("font-size", 52, 20);
        @include adaptiveValue("padding-top", 100, 20);
        text-align: center;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(180deg, rgba(249, 233, 148, 1) 0%, rgba(83, 125, 19, 1) 56%, rgba(72, 60, 8, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__items {
        @include adaptiveValue("margin-top", 60, 20);
        display: flex;
        align-items: start;
        justify-content: space-around;

        @media (max-width:768px) {
            flex-wrap: wrap;
            gap: 20px;
        }

        // .items-box__text
        &__text {}
    }
}

.card-manufacturer{
      // .card-manufacturer__item
    &__item {
        // flex: 0 1 33.333%;
        flex: 0 1 rem(305);
        background-color: $lightYellow;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 15px 15px 15px;
        min-height: rem(439);
        justify-content: space-between;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        @media (max-width:768px) {
        }
    }

    // .card-manufacturer__image
    &__image {
        flex: 0 1 186px;
        max-height: 186px;
        justify-self:flex-end;
        object-fit: cover;

        @media (max-width:$mobile) {
            max-width: 100%;
        }

        img {
            width: 100%;
        }
    }
    // .card-manufacturer
    &__text-box {
        position: relative;
        padding: rem(14) rem(15) rem(20) rem(15);
        background-color: rgba(161, 211, 55, 0.4);
        flex: 1 1 55%;
        max-height: rem(203);
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 25px;
            background: linear-gradient(180deg, transparent, #a1d337 50%);
        }
    }
        // .card-manufacturer
    &__title {
        color: #fff;
        @include adaptiveValue("font-size", 22, 16);
        text-align: center;
        font-weight: 700;
        line-height: normal;
    }

    // .card-manufacturer

    &__text {
        @include adaptiveValue("font-size", 18, 14);
        text-align: center;
        font-weight: 400;
        line-height: normal;
        margin-top: rem(10);
    }
}

// /////////////////////////////////////////////

.best-uses {
    @include adaptiveValue("padding-top", 99, 20);
    @include adaptiveValue("padding-bottom", 200, 20);
    background-image: url(../img/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    // best-uses__title
    &__title {
        color: #537d13;
        text-align: center;
        font-weight: 700;
        line-height: normal;
        @include adaptiveValue("font-size", 52, 20);
    }

    // .best-uses__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: auto;
        min-height: 100%;
        @include adaptiveValue("margin-top", 48, 15);
    }

    // .best-uses__text

    &__text {
        background-image: url(../img/background4.png);
        background-position: top;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        @include adaptiveValue("padding-top", 60, 10);
        @include adaptiveValue("padding-right", 98, 15);
        @include adaptiveValue("padding-bottom", 78, 15);
        @include adaptiveValue("padding-left", 98, 15);

        @media (max-width:768px) {
            background-image: none;
        }

        p:not(:first-child) {
            @include adaptiveValue("margin-top", 20, 5);
        }

        p {
            max-width: 622px;
            color: #483c08;
            @include adaptiveValue("font-size", 18, 14);
            text-align: left;
            font-weight: 400;
            line-height: 23px;
        }

    }

    // .best-uses__image

    &__image {
        flex: 0 1 auto;

        @media (max-width:1024px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}