@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    /* height: 100%; */
    min-width: 320px;
}

body {
    color: #fff;
    line-height: 1;
    font-family: "";
    font-size: 0.875rem;
}

input,
button,
textarea {
    display: block;
    font-family: "";
    font-size: inherit;
    line-height: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    display: flex;
}

.calc1 {
    padding: 10px;
    background-color: #a7a7a7;
    /* border: 1px solid rgb(63, 93, 226); */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(84, 83, 84, 1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(84, 83, 84, 1);
    box-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(0, 0, 0, 1);

}

.calc1 button {
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    outline: none;
    font-family: 'Audiowide', cursive;
    -webkit-box-shadow: 0px 3px 0px 0px #212121;
    -moz-box-shadow: 0px 3px 0px 0px #212121;
    box-shadow: 0px 3px 0px 0px #212121;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
}

.calc1 button:active {
    background-color: #000;
}

.input-conclusion {
    max-width: 260px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.input-conclusion__old-result {
    content: '0';
    width: 100%;
    height: 20px;
    background-color: #fff;
    overflow: hidden;
    color: rgb(128, 128, 128);
    font-size: 16px;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
}

.input-conclusion__input-numb {
    left: 0;
    top: 0;
    width: auto;
    height: 40px;
    font-family: 'Audiowide', cursive;
    /* font-size: 3em; */
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    outline: 1px solid #747070;
}

.buttons__container {
    border-radius: 10px;
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.input__container {
    display: flex;
    flex-direction: column;
}

.clears__container {
    display: flex;
}

.percent__containre {
    display: block;
}

.numb__container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 15px;
}

.operands__container {
    display: flex;
    flex-direction: column-reverse;
}

.operands.division {
    margin-bottom: 20px;
}




.calc2 {
    width: 350px;
    height: 400px;
    border: 1px solid;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px 20px;
    background: #D7CCC8;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(84, 83, 84, 1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(84, 83, 84, 1);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75), inset -3px -2px 19px 1px rgba(84, 83, 84, 1);
}

.results {
    width: 92.3%;
    margin: 20px auto;
    font-family: 'Audiowide', cursive;
    text-align: right;
}

#expression,
#result {
    background: #607D8B;
    border-radius: 4px;
    padding-right: 5px;
}

#result {
    height: 50px;
    font-size: 2em;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#expression {
    height: 20px;
    border-top: none;
    color: #263238;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.operations,
.clears {
    display: flex;
    flex-direction: column;
}

.operations * {
    font-size: 1.5em;
}

.clears * {
    background: #EF5350;
    color: white;
}

.calc2 button {
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    outline: none;
    font-family: 'Audiowide', cursive;
    -webkit-box-shadow: 0px 3px 0px 0px #212121;
    -moz-box-shadow: 0px 3px 0px 0px #212121;
    box-shadow: 0px 3px 0px 0px #212121;
}

button:active {
    transform: translateY(2px);
}

.number,
.operation,
.equals {
    background: #263238;
    color: white;
}