@import '_colors.scss';

.section1 {
    padding-top: 92px;
    padding-bottom: 100px;
    width: 100%;
    height: 780px;
    background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Giant_Panda.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;

    @media (max-width:1000px) {
        & {
            height: 584px;
            padding-bottom: 43px;
            padding-top: 69px;
        }
    }

    @media (max-width:640px) {
        & {
            height: 373px;
            padding-bottom: 35px;
            padding-top: 45px;
        }
    }

    @media (max-width:400px) {
        & {
            height: 300px;
        }
    }

    @media (max-width:320px) {
        & {
            height: 221px;
            padding-bottom: 43px;
            padding-top: 50px;
        }
    }

    .section1__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }

    .ellipse__container {
        width: 50%;
        height: 474px;
        background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Ellipse.png");
        background-repeat: no-repeat;
        background-position: 0%;
        background-size: 80%;
        padding-top: 60px;
        padding-left: 45px;

        @media (max-width:1100px) {
            & {
                background-size: 85%;
            }
        }

        @media (max-width:1000px) {
            & {
                margin-right: 60px;
                width: 49%;
                padding-left: 0px;
            }
        }

        @media (max-width:900px) {
            & {
                padding-left: 30px;
                background-position: 20px 20px;
            }
        }

        @media (max-width:800px) {
            & {
                margin-right: 10px;
                width: 55%;
                background-position: 10px 15px;
                background-size: 90%;
                padding-top: 60px;
                padding-left: 50px;
            }
        }

        @media (max-width:700px) {
            & {
                background-size: 97%;
                padding-left: 20px;
            }
        }

        @media (max-width:640px) {
            & {
                background-position: 10px 0px;
                background-size: 80%;
                padding-top: 40px;
                padding-bottom: 20px;
            }
        }

        @media (max-width:500px) {
            & {
                background-position: 20px 0px;
                background-size: 90%;
                padding-left: 40px;
            }
        }

        @media (max-width:320px) {
            & {
                padding-top: 25px;
                margin-bottom: 20px;
            }
        }

        .title {
            font-family: $family;
            font-weight: 700;
            line-height: 80px;
            font-size: 107px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;

            @media (max-width:1200px) {
                & {
                    font-size: 90px;
                }
            }

            @media (max-width:1000px) {
                & {
                    font-size: 85px;
                    line-height: 75%;
                }
            }

            @media (max-width:900px) {
                & {
                    font-size: 70px;
                    line-height: 75%;
                }
            }

            @media (max-width:800px) {
                & {
                    font-size: 70px;
                    line-height: 75%;
                }
            }

            @media (max-width:640px) {
                & {
                    font-size: 54px;
                    line-height: 75%;
                }
            }

            @media (max-width:600px) {
                & {
                    font-size: 45px;
                    line-height: 75%;
                    max-width: 250px;
                }
            }

            @media (max-width:500px) {
                & {
                    font-size: 35px;
                    line-height: 75%;
                }
            }

            @media (max-width:400px) {
                & {
                    max-width: 130px;
                    font-size: 30px;
                    line-height: 75%;
                    margin-bottom: 50px;
                }
            }

            @media (max-width:320px) {
                & {
                    font-size: 28px;
                    line-height: 75%;
                    margin-bottom: 20px;
                }
            }

            span {
                color: #FFEE2E;
            }
        }
    }

    .button__container {
        margin-right: 10%;

        @media (max-width:1000px) {
            & {
                margin-right: 14%;
            }
        }

        @media (max-width:800px) {
            & {
                margin-right: 55px;
            }
        }

        @media (max-width:700px) {
            & {
                margin-right: 20px;
            }
        }

        @media (max-width:640px) {
            & {
                margin-left: 0px;
                align-self: start;
            }
        }

        @media (max-width:400px) {
            & {
                // margin-top: 100px;
                width: 100%;
            }
        }

        @media (max-width:400px) {
            button {
                width: 100%;
            }
        }
    }
}

.button-main {
    cursor: pointer;
    display: block;
    width: 298px;
    height: 54px;
    position: relative;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 25px;

    &:active {
        background: #4B9200;
    }

    &::before {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #E47209;
        transition: opacity 0.5s ease-in-out;
        z-index: -5;
        border-radius: 25px;
    }

    &:hover::before {
        opacity: 1;
    }
}