header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #000;

    @media (max-width:800px) {
        height: 34px;
    }

    align-items: center;

    .background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 2;
        right: -100%;
        transition: all 1s;
    }

    .background._active {
        right: 0%;
        transition: all 1s;
    }

    .header__container {
        color: #fff;
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @media (max-width:800px) {
            & {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .header__left {
            display: flex;

            @media (max-width:800px) {
                & {
                    flex-direction: column;
                    margin-top: 2px;
                }
            }

            .logo {
                display: block;
                float: left;
                border: 0.768116px solid #FFFFFF;
                border-radius: 2px;
                width: 85px;
                height: 52px;
                color: #fff;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19.0145px;
                line-height: 120%;
                position: relative;
                text-align: center;
                z-index: 10;

                &._active {
                    color: #FE9013;
                }

                .decoration {
                    display: block;
                    position: absolute;
                    left: 18%;
                    top: 39%;
                    width: 7.03px;
                    height: 20.98px;
                }

                @media (max-width:1000px) {
                    & {
                        width: 72px;
                        height: 45px;
                        font-weight: 400;
                        font-size: 19.0145px;
                        line-height: 120%;
                    }

                    .decoration {
                        width: 7.03px;
                        height: 20.98px;
                        left: 12.5%;
                        top: 42%;
                    }
                }

                @media (max-width:800px) {
                    & {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 120%;
                        width: 47px;
                        height: 30px;
                        color: #fff;
                    }

                    .decoration {
                        width: 4.54px;
                        height: 13.56px;
                        left: 14%;
                        top: 42%;
                    }
                }
            }

            .menu__icon {
                display: none;
                z-index: 10;

                @media (max-width:800px) {
                    & {
                        z-index: 5;
                        display: block;
                        position: absolute;
                        width: 30px;
                        height: 18px;
                        cursor: pointer;
                        right: 20px;
                        top: 10px;
                    }

                    & span,
                    &::before,
                    &::after {
                        left: 0;
                        position: absolute;
                        height: 10%;
                        width: 100%;
                        transition: all 0.3s ease 0s;
                        background-color: #fff;
                        opacity: 1;
                    }

                    &::before,
                    &::after {
                        content: "";
                        opacity: 1;
                        background-color: #fff;
                    }

                    &::before {
                        top: 0;
                        opacity: 1;
                        background-color: #fff;
                    }

                    &::after {
                        bottom: 0;
                        opacity: 1;
                        background-color: #fff;
                    }

                    & span {
                        top: 50%;
                        transform: scale(1) translate(0px, -50%);
                    }

                    &._active span {
                        transform: scale(0) translate(0px, -50%);
                        color: #333B41;

                    }

                    &._active::before {
                        top: 50%;
                        transform: rotate(-45deg) translate(0px, -50%);
                        color: #333B41;
                        background-color: #333B41;

                    }

                    &._active::after {
                        bottom: 50%;
                        transform: rotate(45deg) translate(0px, 50%);
                        background-color: #333B41;
                        color: #333B41;
                    }
                }
            }



            .nav {
                margin-left: 63px;
                overflow: hidden;

                @media (max-width:800px) {
                    & {
                        margin-left: 0px;
                        margin-top: 30px;
                        display: none;
                    }

                    &._active {
                        display: block;
                    }
                }



                .header__navigation {
                    height: 100%;
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;

                    @media (max-width:800px) {
                        & {
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            margin-top: -200%;
                            transition: all 2s;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;

                            &._active {
                                margin-top: 0%;
                                transition: all 2s;
                            }
                        }
                    }

                    li {
                        margin-left: 58px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }

                    @media (max-width:800px) {
                        li {
                            margin-left: 0px;
                            margin-top: 10px;
                            z-index: 10;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }

                    a {
                        color: #fff;

                        &:hover {
                            color: yellow;
                        }

                        @media (max-width:800px) {
                            & {
                                color: #333B41;
                            }
                        }
                    }

                    & a:active {
                        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    .active {
                        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }

        .link {

            z-index: 10;

            @media (max-width:800px) {
                margin-left: -200%;
                transition: all 1s;
                margin-top: 15px;

                &._active {
                    margin-left: 0%;
                    transition: all 2s;
                }
            }

            .link__Designed {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                color: #fff;

                &:hover {
                    color: yellow;
                }

                &:active {
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                @media (max-width:800px) {
                    & {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #333B41;
                    }
                }
            }
        }
    }
}