.section2 {
    min-height: 617;
    padding-top: 140px;

    .section2__main-block {
        // margin: 0 auto;
        display: flex;
        justify-content: center;

        img {
            display: block;
        }

        .section2__text-block {
            margin-left: 87px;
            max-width: 465px;

            h2 {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 120%;
                color: #333B41;
            }

            .subtext {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #333B41;
                margin-top: 20px;
            }

            .two-header {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #333B41;
                margin-top: 54px;
            }

            .text {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                margin-top: 34px;


            }
        }
    }

    .flower {
        display: block;
        position: absolute;
        right: 0;
        top: 800px;
    }
}

.section3 {
    padding-top: 180px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100px;

    .slider-block {
        width: 82, 6%;
        margin: 0 auto;
        margin-bottom: 60px;


        .image-slider {
            height: 900px;
            // width: 87, 7%;
            width: 72.5%;
            display: flex;
            justify-content: center;

            .image-slider__wrapper {
                padding-top: 25px;
                padding-bottom: 25px;

                .image-slider__slide {
                    max-width: 366px;
                    height: 426px;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;

                    @media(max-width: 1000px) {
                        // max-width: 600px; 
                        // height: 300px;
                    }

                    .image-slider__card {
                        max-width: 366px;
                        text-align: center;
                        border: double 1px transparent;
                        border-radius: 5px;
                        background-image: linear-gradient(white, white),
                            linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
                        background-origin: border-box;
                        background-clip: content-box, border-box;

                        .card-image {
                            width: 100%;
                        }

                        .card-description {
                            .card-tittle {
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 140%;
                                text-transform: uppercase;
                                text-align: left;
                                margin-top: 8px;
                            }

                            .card-text {
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 15px;
                                line-height: 120%;
                                text-align: left;
                            }

                            .card-icon-banana {
                                width: 33px;
                                height: 37px;
                                float: right;
                                display: block;
                                margin-top: -30px;
                                margin-right: 13px;
                            }
                        }
                    }
                }
            }
        }

        .button-prev {
            cursor: pointer;
            position: relative;
            width: 62px;
            height: 62px;
            top: 430px;
            border-radius: 50%;
            @extend %color-orange2;
            z-index: 5;
            // margin-left: 12px;
            left: 100px;
            // left: 20px;
            // margin-right: 12px;
            float: left;

            @media(max-width: 1000px) {
                top: 430px;
            }

            @media(max-width: 800px) {
                top: 200px;
                left: 50px;
            }

            &:active {
                background: green;
            }

            .button-prev-arrow {
                position: relative;
                width: 16px;
                height: 10px;
                top: 0;

                div {
                    position: relative;
                    top: 30px;
                    width: 16px;
                    height: 1px;
                    background-color: #fff;
                    left: 23px;
                    display: block;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 1px;
                        top: 2.5px;
                        right: 10px;
                        background-color: #fff;
                        transform: rotate(45deg);
                        z-index: 3;

                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 1px;
                        top: -2.5px;
                        right: 10px;
                        background-color: #fff;
                        transform: rotate(-45deg);
                        z-index: 3;

                    }
                }
            }
        }

        .button-next {
            cursor: pointer;
            position: relative;
            width: 62px;
            height: 62px;
            bottom: 470px;
            // left: 80px;
            // margin-right: 12px;
            right: 70px;
            float: right;
            z-index: 5;
            border-radius: 50%;
            @extend %color-orange2;

            @media(max-width: 1000px) {
                bottom: 600px;
            }

            @media(max-width: 800px) {
                bottom: 707px;
                right: 10px;
            }

            &:active {
                background: green;
            }

            .button-next-arrow {
                position: relative;
                width: 16px;
                height: 10px;
                top: 0;

                div {
                    position: relative;
                    top: 30px;
                    width: 16px;
                    height: 1px;
                    background-color: #fff;
                    left: 23px;
                    display: block;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 1px;
                        top: 2.5px;
                        right: -0.8px;
                        background-color: #fff;
                        transform: rotate(-45deg);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 1px;
                        top: -2.5px;
                        right: -0.8px;
                        background-color: #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .palm {
            position: absolute;
            top: 2160px;
            width: 280px;
            height: 460px;
        }

        .strelitzia {
            position: absolute;
            top: 2345px;
            right: 0px;
            width: 368px;
            height: 275px;
        }
    }

    button {
        width: 298px;
        height: 54px;
        border-radius: 25px;
        background: #FE9013;
        // margin-top: 55px;
        // margin-left: auto;
        // margin-right: auto;
        // // margin-bottom: 0px;
        // margin: 0 auto;
        // margin-left: calc(50% + 298px);
        // margin-top: 60px;
        margin-left: 43%;
        display: block;
        border-radius: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }


}

.section4 {
    @extend %pink;
    padding: 69px 220px 100px;
    content: '';

    .feed-a-friend {
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding-top: 41px;
        padding-left: 99px;
        padding-bottom: 59px;

        h3 {
            margin-left: 24%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            color: #FE9013;
        }

        .subtitle {
            text-align: left;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #333B41;
            margin-top: 30px;
        }

        .text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #333B41;
            margin-top: 10px;

            a {
                color: #333B41;
                text-decoration-color: #FE9013;
                text-decoration-line: underline;
            }

        }

        .text1 {
            font-weight: 500;
            margin-top: 40px;
        }

        .second-header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 130%;
            color: #333B41;
            margin-top: 60px;
            margin-left: 35.5%;
        }

        .scheme {
            display: flex;
            align-items: center;
            width: 72.1%;
            justify-content: space-between;
            // justify-content: flex-start;
            margin-top: 40px;
            margin-left: auto;
            // margin-right: 198px;
            margin-right: 18%;

            .arrow {
                width: 69px;
                height: 36px;
                margin-bottom: 80px;
            }

            .item {
                width: 168px;
                height: 244px;

                .item-image {
                    width: 168px;
                    height: 168px;
                    background-color: #fff;
                    border-radius: 5px;

                    .im1 {
                        margin-top: 54px;
                        margin-left: 30px;
                    }

                    .im2 {
                        margin-top: 38px;
                        margin-left: 41.2px;
                    }

                    .im3 {
                        margin-top: 48px;
                        margin-left: 22px;
                    }
                }

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #333B41;
                    margin-top: 30px;
                }

            }
        }

        button {
            margin-top: 60px;
            margin-left: 30%;
            margin-right: auto;
            margin-bottom: 0px;
            border-radius: 25px;



        }

    }

}

.button-main {
    cursor: pointer;
    display: block;
    width: 298px;
    height: 54px;
    // @extend %color-orange;
    position: relative;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
    border-radius: 25px;


    &:active {
        background: #4B9200;
    }

    &::before {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #E47209;
        transition: opacity 0.5s ease-in-out;
        z-index: -5;
        border-radius: 25px;
    }

    &:hover::before {
        opacity: 1;
    }


}

.section5 {
    width: 100%;
    padding-bottom: 180px;


    h4 {
        margin-top: 140px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #333B41;
    }

    .reviews-slider {
        margin-top: 47px;
        width: 72.5%;

        .reviews-slider__wrapper {
            .reviews-slider__slide {
                background-color: #F1F3F2;
                max-width: 268px;
                height: 391px;
                padding: 15px 15px 19px 16px;

                .reviews-slider__card {
                    .reviews-slider__profile-container {

                        img {
                            width: 37px;
                            float: left;
                            margin-right: 10px;

                        }

                        &:first-line {
                            font-weight: 400;
                            font-size: 16px;
                            color: #000000;
                        }

                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 120%;
                            color: #BDBDBD;
                        }
                    }

                    .reviews-slider__text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 120%;
                        text-align: left;
                        color: #767474;
                        margin-top: 10px;
                    }
                }
            }
        }

        .swiper-scrollbar {
            position: relative;
            width: 51.7%;
            margin-left: 24%;
            margin-top: 21px;

        }

        .swiper-scrollbar-drag {
            position: absolute;
            cursor: pointer;
            background: #FE9013;
            border-radius: 5px;
            max-width: 599px;


        }
    }

    button {
        margin-top: 31px;
        margin-left: 13.75%;
        border-radius: 5px;

        &::before {
            border-radius: 5px;

        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 50px;

    .donate-block {
        .logo {
            // margin-bottom: 68px;
        }

        button {
            margin-top: 120px;
            border-radius: 5px;

            &::before {
                border-radius: 5px;
            }
        }

        .social {
            margin-top: 44px;
            display: flex;
            flex-direction: column;

            a {


                margin-top: 10px;

                img {
                    float: left;
                    border-radius: 50%;

                    &:active {
                        background-color: #4b9200;
                    }
                }

                p {
                    &:active {
                        color: #4B9200;
                    }

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-left: 38px;
                }
            }

        }

    }

    .navigation-block {
        margin-bottom: 0;
        height: 100%;

        nav {
            margin-top: 100%;
            height: 100%;

        }
    }

    .subscribe-block {
        h5 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
        }

        form {
            margin-top: 14px;

            input {
                width: 228px;
                height: 42px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #BDBDBD;
                padding: 10px;
                border-radius: 2px;
                border: solid 0.7px;
                border-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
                border-image-slice: 1;
                outline: none;


                &::placeholder {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #BDBDBD;
                    outline: none;
                }

                &:invalid {
                    border: 1px solid #D31414;
                    color: #D31414;
                }

                &:valid {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }

                &:active {
                    border: 1px solid #4B9200;
                }
            }

            button {
                margin-left: 8px;
                width: 129px;
                height: 42px;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                color: #333B41;
                border: 1 px solid #333B41;
                border-radius: 5px;
                // &:valid {
                //     color: #4B9200;
                //     border: 1px solid #4B9200;
                // }

                &:invalid {
                    border: 1px solid #D31414;
                    color: #D31414;
                }

                &:active {
                    border: 1px solid #4B9200;
                }

                &:focus {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }
            }
        }

        .contacts {
            // vertical-align: bottom;
            // position: relative;
            // bottom: 0px;
            // margin-bottom: 0px;
            margin-top: 100%;
            // margin-left: 100%; // &:last-child {
            //     margin-top: 25px;
            // }

            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 130%;
                color: #D9D9D9;
                display: block;
                text-align: right;

                &:last-of-type {
                    margin-top: 10px;
                }

            }
        }

    }

}