.section2 {
    // min-height: 617px;
    padding-top: 140px;

    @media (max-width:1000px) {
        & {
            padding-top: 140px;
        }
    }

    @media (max-width:650px) {
        & {
            padding-top: 60px;
        }
    }

    @media (max-width:420px) {
        & {
            padding-top: 100px;
        }
    }

    .section2__main-block {
        // margin: 0 auto;
        display: flex;
        justify-content: space-between;

        img {
            display: block;
            width: 609;
            height: 403px;

            @media (max-width:1300px) {
                & {
                    width: 500px;
                }
            }

            @media (max-width:1000px) {
                & {
                    width: 455px;
                    height: 408px;
                }
            }

            @media (max-width:900px) {
                & {
                    width: 305px;
                    height: auto;
                }
            }

            @media (max-width:800px) {
                & {
                    display: none;
                }
            }
        }

        .section2__text-block {
            margin-left: 10px;
            max-width: 465px;

            @media (max-width:800px) {
                & {
                    max-width: 80%;
                    text-align: left;
                    border: 1px solid green;
                }
            }

            h2 {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 120%;
                color: #333B41;

                @media (max-width:400px) {
                    & {
                        font-size: 24px;
                    }
                }
            }

            .subtext {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #333B41;
                margin-top: 20px;

                @media (max-width:400px) {
                    & {
                        margin-top: 10px;
                    }
                }
            }

            .two-header {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #333B41;
                margin-top: 54px;

                @media (max-width:900px) {
                    & {
                        margin-top: 30px;
                    }
                }

                @media (max-width:400px) {
                    & {
                        margin-top: 20px;
                    }
                }
            }

            .text {
                font-family: $family;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                margin-top: 34px;

                @media (max-width:900px) {
                    & {
                        margin-top: 30px;
                    }
                }

                @media (max-width:400px) {
                    & {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .flower {
        display: block;
        position: absolute;
        right: 0;
        top: 800px;

        @media (max-width:1500px) {
            & {
                top: 950px;
                width: 10%;
            }
        }

        @media (max-width:1400px) {
            & {
                top: 1000px;
                width: 7%;
            }
        }

        @media (max-width:1300px) {
            & {
                top: 1060px;
                width: 5%;
            }
        }

        @media (max-width:1200px) {
            & {
                display: none;
            }
        }

        @media (max-width:800px) {
            & {
                display: block;
                height: 476px;
                width: 100px;
                top: 700px;
            }
        }

        @media (max-width:650px) {
            & {
                top: 400px;
                height: 400px;
            }
        }

        @media (max-width:550px) {
            & {
                width: 85px;
                height: 300px;
            }
        }

        @media (max-width:450px) {
            & {
                width: 50px;
                height: 200px;
                top: 430px;

            }
        }

        @media (max-width:400px) {
            & {
                width: 30px;
                // height: 100px;
                top: 250px;

            }
        }
    }
}