@import url("swiper/modules/navigation/navigation");
@import url("swiper/modules/grid/grid");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid red;
}
@media (max-width: 320px) {
  .container {
    padding-left: 11px;
    padding-right: 11px;
  }
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  header {
    height: 34px;
  }
}
header .header__container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
@media (max-width: 640px) {
  header .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
header .header__container .background {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
  right: -150%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
header .header__container .background._active {
  right: 0%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
header .header__container .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 640px) {
  header .header__container .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2px;
  }
}
header .header__container .header__left .logo {
  display: block;
  float: left;
  border: 0.768116px solid #FFFFFF;
  border-radius: 2px;
  width: 85px;
  height: 52px;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  position: relative;
  text-align: center;
  z-index: 10;
}
header .header__container .header__left .logo._active {
  color: #FE9013;
}
header .header__container .header__left .logo .decoration {
  display: block;
  position: absolute;
  left: 18%;
  top: 39%;
  width: 7.03px;
  height: 20.98px;
}
@media (max-width: 1000px) {
  header .header__container .header__left .logo {
    width: 72px;
    height: 45px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
  }
  header .header__container .header__left .logo .decoration {
    width: 7.03px;
    height: 20.98px;
    left: 12.5%;
    top: 42%;
  }
}
@media (max-width: 640px) {
  header .header__container .header__left .logo {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    width: 47px;
    height: 30px;
    color: #fff;
  }
  header .header__container .header__left .logo .decoration {
    width: 4.54px;
    height: 13.56px;
    left: 14%;
    top: 42%;
  }
}
header .header__container .header__left .menu__icon {
  display: none;
  z-index: 10;
}
@media (max-width: 640px) {
  header .header__container .header__left .menu__icon {
    z-index: 5;
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }
  header .header__container .header__left .menu__icon span, header .header__container .header__left .menu__icon::before, header .header__container .header__left .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    opacity: 1;
  }
  header .header__container .header__left .menu__icon::before, header .header__container .header__left .menu__icon::after {
    content: "";
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__left .menu__icon::before {
    top: 0;
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__left .menu__icon::after {
    bottom: 0;
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__left .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  header .header__container .header__left .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    color: #333B41;
  }
  header .header__container .header__left .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    color: #333B41;
    background-color: #333B41;
  }
  header .header__container .header__left .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    background-color: #333B41;
    color: #333B41;
  }
}
header .header__container .header__left .nav {
  margin-left: 63px;
  overflow: hidden;
}
@media (max-width: 640px) {
  header .header__container .header__left .nav {
    margin-left: 0px;
    margin-top: 30px;
    display: none;
  }
  header .header__container .header__left .nav._active {
    display: block;
  }
}
header .header__container .header__left .nav .header__navigation {
  height: 100%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  header .header__container .header__left .nav .header__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -200%;
    -webkit-transition: all 2s;
    transition: all 2s;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  header .header__container .header__left .nav .header__navigation._active {
    margin-top: 0%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
}
header .header__container .header__left .nav .header__navigation li {
  margin-left: 58px;
}
@media (max-width: 800px) {
  header .header__container .header__left .nav .header__navigation li {
    margin-left: 30px;
  }
}
@media (max-width: 700px) {
  header .header__container .header__left .nav .header__navigation li {
    margin-left: 20px;
  }
}
header .header__container .header__left .nav .header__navigation li:first-child {
  margin-left: 0;
}
@media (max-width: 640px) {
  header .header__container .header__left .nav .header__navigation li {
    margin-left: 0px;
    margin-top: 10px;
    z-index: 10;
  }
  header .header__container .header__left .nav .header__navigation li:first-child {
    margin-top: 0;
  }
}
header .header__container .header__left .nav .header__navigation a {
  color: #fff;
}
header .header__container .header__left .nav .header__navigation a:hover {
  color: yellow;
}
@media (max-width: 640px) {
  header .header__container .header__left .nav .header__navigation a {
    color: #333B41;
  }
}
header .header__container .header__left .nav .header__navigation a:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
header .header__container .header__left .nav .header__navigation .active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
header .header__container .link {
  z-index: 10;
}
@media (max-width: 640px) {
  header .header__container .link {
    margin-left: -200%;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-top: 15px;
  }
  header .header__container .link._active {
    margin-left: 0%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
}
header .header__container .link .link__Designed {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
header .header__container .link .link__Designed:hover {
  color: yellow;
}
header .header__container .link .link__Designed:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 640px) {
  header .header__container .link .link__Designed {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
  }
}

.section3 .button-next, .section3 .button-prev {
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
}

.section1 {
  padding-top: 92px;
  padding-bottom: 100px;
  width: 100%;
  height: 780px;
  background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Giant_Panda.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}
@media (max-width: 1000px) {
  .section1 {
    height: 584px;
    padding-bottom: 43px;
    padding-top: 69px;
  }
}
@media (max-width: 640px) {
  .section1 {
    height: 373px;
    padding-bottom: 35px;
    padding-top: 45px;
  }
}
@media (max-width: 400px) {
  .section1 {
    height: 300px;
  }
}
@media (max-width: 320px) {
  .section1 {
    height: 221px;
    padding-bottom: 43px;
    padding-top: 50px;
  }
}
.section1 .section1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.section1 .ellipse__container {
  width: 50%;
  height: 474px;
  background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Ellipse.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 80%;
  padding-top: 60px;
  padding-left: 45px;
}
@media (max-width: 1100px) {
  .section1 .ellipse__container {
    background-size: 85%;
  }
}
@media (max-width: 1000px) {
  .section1 .ellipse__container {
    margin-right: 60px;
    width: 49%;
    padding-left: 0px;
  }
}
@media (max-width: 900px) {
  .section1 .ellipse__container {
    padding-left: 30px;
    background-position: 20px 20px;
  }
}
@media (max-width: 800px) {
  .section1 .ellipse__container {
    margin-right: 10px;
    width: 55%;
    background-position: 10px 15px;
    background-size: 90%;
    padding-top: 60px;
    padding-left: 50px;
  }
}
@media (max-width: 700px) {
  .section1 .ellipse__container {
    background-size: 97%;
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  .section1 .ellipse__container {
    background-position: 10px 0px;
    background-size: 80%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .section1 .ellipse__container {
    background-position: 20px 0px;
    background-size: 90%;
    padding-left: 40px;
  }
}
@media (max-width: 320px) {
  .section1 .ellipse__container {
    padding-top: 25px;
    margin-bottom: 20px;
  }
}
.section1 .ellipse__container .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 80px;
  font-size: 107px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .section1 .ellipse__container .title {
    font-size: 90px;
  }
}
@media (max-width: 1000px) {
  .section1 .ellipse__container .title {
    font-size: 85px;
    line-height: 75%;
  }
}
@media (max-width: 900px) {
  .section1 .ellipse__container .title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 800px) {
  .section1 .ellipse__container .title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 640px) {
  .section1 .ellipse__container .title {
    font-size: 54px;
    line-height: 75%;
  }
}
@media (max-width: 600px) {
  .section1 .ellipse__container .title {
    font-size: 45px;
    line-height: 75%;
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  .section1 .ellipse__container .title {
    font-size: 35px;
    line-height: 75%;
  }
}
@media (max-width: 400px) {
  .section1 .ellipse__container .title {
    max-width: 130px;
    font-size: 30px;
    line-height: 75%;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .section1 .ellipse__container .title {
    font-size: 28px;
    line-height: 75%;
    margin-bottom: 20px;
  }
}
.section1 .ellipse__container .title span {
  color: #FFEE2E;
}
.section1 .button__container {
  margin-right: 10%;
}
@media (max-width: 1000px) {
  .section1 .button__container {
    margin-right: 14%;
  }
}
@media (max-width: 800px) {
  .section1 .button__container {
    margin-right: 55px;
  }
}
@media (max-width: 700px) {
  .section1 .button__container {
    margin-right: 20px;
  }
}
@media (max-width: 640px) {
  .section1 .button__container {
    margin-left: 0px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}
@media (max-width: 400px) {
  .section1 .button__container {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .section1 .button__container button {
    width: 100%;
  }
}

.button-main {
  cursor: pointer;
  display: block;
  width: 298px;
  height: 54px;
  position: relative;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
  border-radius: 25px;
}
.button-main:active {
  background: #4B9200;
}
.button-main::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E47209;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: -5;
  border-radius: 25px;
}
.button-main:hover::before {
  opacity: 1;
}

.section2 {
  padding-top: 140px;
}
@media (max-width: 1000px) {
  .section2 {
    padding-top: 140px;
  }
}
@media (max-width: 650px) {
  .section2 {
    padding-top: 60px;
  }
}
@media (max-width: 420px) {
  .section2 {
    padding-top: 100px;
  }
}
.section2 .section2__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section2 .section2__main-block img {
  display: block;
  width: 609;
  height: 403px;
}
@media (max-width: 1300px) {
  .section2 .section2__main-block img {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .section2 .section2__main-block img {
    width: 455px;
    height: 408px;
  }
}
@media (max-width: 900px) {
  .section2 .section2__main-block img {
    width: 305px;
    height: auto;
  }
}
@media (max-width: 800px) {
  .section2 .section2__main-block img {
    display: none;
  }
}
.section2 .section2__main-block .section2__text-block {
  margin-left: 10px;
  max-width: 465px;
}
@media (max-width: 800px) {
  .section2 .section2__main-block .section2__text-block {
    max-width: 80%;
    text-align: left;
    border: 1px solid green;
  }
}
.section2 .section2__main-block .section2__text-block h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block h2 {
    font-size: 24px;
  }
}
.section2 .section2__main-block .section2__text-block .subtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .subtext {
    margin-top: 10px;
  }
}
.section2 .section2__main-block .section2__text-block .two-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 54px;
}
@media (max-width: 900px) {
  .section2 .section2__main-block .section2__text-block .two-header {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .two-header {
    margin-top: 20px;
  }
}
.section2 .section2__main-block .section2__text-block .text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 34px;
  color: #333B41;
}
@media (max-width: 900px) {
  .section2 .section2__main-block .section2__text-block .text {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .text {
    margin-top: 10px;
  }
}
.section2 .flower {
  display: block;
  position: absolute;
  right: 0;
  top: 800px;
}
@media (max-width: 1500px) {
  .section2 .flower {
    top: 950px;
    width: 10%;
  }
}
@media (max-width: 1400px) {
  .section2 .flower {
    top: 1000px;
    width: 7%;
  }
}
@media (max-width: 1300px) {
  .section2 .flower {
    top: 1060px;
    width: 5%;
  }
}
@media (max-width: 1200px) {
  .section2 .flower {
    display: none;
  }
}
@media (max-width: 800px) {
  .section2 .flower {
    display: block;
    height: 476px;
    width: 100px;
    top: 700px;
  }
}
@media (max-width: 650px) {
  .section2 .flower {
    top: 400px;
    height: 400px;
  }
}
@media (max-width: 550px) {
  .section2 .flower {
    width: 85px;
    height: 300px;
  }
}
@media (max-width: 450px) {
  .section2 .flower {
    width: 50px;
    height: 200px;
    top: 430px;
  }
}
@media (max-width: 400px) {
  .section2 .flower {
    width: 30px;
    top: 250px;
  }
}

.section3 {
  padding-top: 180px;
  width: 100%;
  padding-bottom: 100px;
  border: 1px solid blue;
}
@media (max-width: 400px) {
  .section3 {
    padding-top: 100px;
  }
}
.section3 .container {
  padding-left: 0;
  padding-right: 0;
}
.section3 .button-prev {
  cursor: pointer;
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  z-index: 5;
  top: 460px;
  left: 5%;
}
@media (max-width: 1000px) {
  .section3 .button-prev {
    top: 467px;
    left: 34%;
  }
}
@media (max-width: 400px) {
  .section3 .button-prev {
    display: none;
  }
}
.section3 .button-prev:active {
  background: green;
}
.section3 .button-prev .button-prev-arrow {
  position: relative;
  width: 16px;
  height: 10px;
  top: 0;
}
.section3 .button-prev .button-prev-arrow div {
  position: relative;
  top: 30px;
  width: 16px;
  height: 1px;
  background-color: #fff;
  left: 23px;
  display: block;
}
.section3 .button-prev .button-prev-arrow div::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 2.5px;
  right: 10px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 3;
}
.section3 .button-prev .button-prev-arrow div::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: -2.5px;
  right: 10px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 3;
}
.section3 .image-slider {
  height: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -62px;
  padding-top: -62px;
}
@media (max-width: 900px) {
  .section3 .image-slider {
    height: 950px;
  }
}
@media (max-width: 800px) {
  .section3 .image-slider {
    height: 940px;
  }
}
@media (max-width: 400px) {
  .section3 .image-slider {
    height: 1400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.section3 .image-slider .image-slider__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
  margin-bottom: 0px;
}
@media (max-width: 1420px) {
  .section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
    margin-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
    margin-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .section3 .image-slider .image-slider__wrapper div:nth-child(odd) {
    margin-bottom: 0px;
  }
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide {
  max-width: 366px;
  height: 426px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  margin-top: 50px;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide .image-slider__card {
  max-width: 366px;
  text-align: center;
  border: double 1px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white), linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide .image-slider__card .card-image {
  width: 100%;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide .image-slider__card .card-description .card-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: left;
  margin-top: 8px;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide .image-slider__card .card-description .card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  text-align: left;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide .image-slider__card .card-description .card-icon-banana {
  width: 33px;
  height: 37px;
  float: right;
  display: block;
  margin-top: -30px;
  margin-right: 13px;
}
.section3 .button-next {
  cursor: pointer;
  position: relative;
  width: 62px;
  height: 62px;
  bottom: 740px;
  right: 70px;
  float: right;
  z-index: 5;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .section3 .button-next {
    bottom: 734px;
    right: 33%;
  }
}
@media (max-width: 900px) {
  .section3 .button-next {
    bottom: 482px;
  }
}
@media (max-width: 800px) {
  .section3 .button-next {
    bottom: 472px;
  }
}
@media (max-width: 800px) {
  .section3 .button-next {
    display: none;
  }
}
.section3 .button-next:active {
  background: green;
}
.section3 .button-next .button-next-arrow {
  position: relative;
  width: 16px;
  height: 10px;
  top: 0;
}
.section3 .button-next .button-next-arrow div {
  position: relative;
  top: 30px;
  width: 16px;
  height: 1px;
  background-color: #fff;
  left: 23px;
  display: block;
}
.section3 .button-next .button-next-arrow div::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 2.5px;
  right: -0.8px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.section3 .button-next .button-next-arrow div::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: -2.5px;
  right: -0.8px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.section3 .palm {
  position: absolute;
  top: 2160px;
  width: 280px;
  height: 460px;
}
.section3 .strelitzia {
  position: absolute;
  top: 2345px;
  right: 0px;
  width: 368px;
  height: 275px;
}
.section3 button {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background: #FE9013;
  margin-left: 43%;
  display: block;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}