@import url(./_colors.scss);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}

.button-main {
  cursor: pointer;
  display: block;
  width: 298px;
  height: 54px;
  position: relative;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  border-radius: 25px;
}
.button-main:active {
  background: #4B9200;
}
.button-main::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E47209;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: -5;
  border-radius: 25px;
}
.button-main:hover::before {
  opacity: 1;
}

.section4 {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

header .header__container .header__left .header__menu .menu__list .active, header .header__container .header__left .header__menu .menu__list .menu__link:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section3 .button-next, header .header__container .header__designed .designed__link:active {
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 22;
}
@media (max-width: 640px) {
  header {
    height: 34px;
    position: fixed;
  }
}
header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .header__container .header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53.2%;
          flex: 0 1 53.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  header .header__container .header__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 72%;
            flex: 1 1 72%;
  }
}
@media (max-width: 640px) {
  header .header__container .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
header .header__container .header__left .header__logo {
  z-index: 10;
  display: block;
  width: 82px;
  height: 52px;
}
header .header__container .header__left .header__logo img {
  width: 100%;
}
@media (max-width: 640px) {
  header .header__container .header__left .header__logo {
    width: 47px;
    height: 30px;
    z-index: 10;
    margin-top: 2px;
  }
}
@media (max-width: 640px) {
  header .header__container .header__left .header__menu {
    position: fixed;
    left: -100%;
    top: 30px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    padding: 0px 30px 30px 30px;
    z-index: 22;
  }
  header .header__container .header__left .header__menu._active {
    left: 0;
  }
}
header .header__container .header__left .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  header .header__container .header__left .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -200%;
    -webkit-transition: all ease 2s;
    transition: all ease 2s;
    height: calc(100% - 64px);
  }
  header .header__container .header__left .header__menu .menu__list._active {
    margin-top: 30px;
    -webkit-transition: all ease 2s;
    transition: all ease 2s;
    overflow: auto;
  }
}
header .header__container .header__left .header__menu .menu__list .menu__item:not(:first-child) {
  margin-left: 58px;
}
@media (max-width: 800px) {
  header .header__container .header__left .header__menu .menu__list .menu__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 640px) {
  header .header__container .header__left .header__menu .menu__list .menu__item:not(:first-child) {
    margin-left: 0px;
  }
}
header .header__container .header__left .header__menu .menu__list .menu__item.hidden_link {
  display: none;
}
@media (max-width: 640px) {
  header .header__container .header__left .header__menu .menu__list .menu__item.hidden_link {
    display: block;
  }
}
header .header__container .header__left .header__menu .menu__list .menu__link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}
@media (max-width: 640px) {
  header .header__container .header__left .header__menu .menu__list .menu__link {
    font-weight: 400;
    color: #333B41;
    font-size: 1.5rem;
  }
}
header .header__container .header__left .header__menu .menu__list .menu__link:hover {
  color: yellow;
}
header .header__container .header__designed {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: end;
}
header .header__container .header__designed .designed__link {
  z-index: 10;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}
header .header__container .header__designed .designed__link:hover {
  color: yellow;
}
@media (max-width: 640px) {
  header .header__container .header__designed .designed__link {
    display: none;
  }
}
header .header__container .header__designed .burger__icon {
  display: none;
  z-index: 10;
  color: #fff;
}
@media (max-width: 640px) {
  header .header__container .header__designed .burger__icon {
    z-index: 10;
    display: block;
    position: absolute;
    width: 18px;
    height: 10px;
    cursor: pointer;
    float: right;
    right: 3.5%;
    top: 11px;
  }
  header .header__container .header__designed .burger__icon span, header .header__container .header__designed .burger__icon::before, header .header__container .header__designed .burger__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    opacity: 1;
  }
  header .header__container .header__designed .burger__icon::before, header .header__container .header__designed .burger__icon::after {
    content: "";
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__designed .burger__icon::before {
    top: 0;
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__designed .burger__icon::after {
    bottom: 0;
    opacity: 1;
    background-color: #fff;
  }
  header .header__container .header__designed .burger__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  header .header__container .header__designed .burger__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    color: #fff;
  }
  header .header__container .header__designed .burger__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    color: #fff;
    background-color: #fff;
  }
  header .header__container .header__designed .burger__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    color: #fff;
    background-color: #fff;
  }
}

.section4 {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

header .header__container .header__left .header__menu .menu__list .menu__link:active, header .header__container .header__left .header__menu .menu__list .active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section3 .button-next, header .header__container .header__designed .designed__link:active {
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.watch {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Giant_Panda.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .watch {
    background-size: 125% 100%;
  }
}
@media (max-width: 640px) {
  .watch {
    padding-top: 34px;
  }
}
.watch .watch__body {
  padding-top: 12px;
  margin-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.watch .watch__body .watch__ellipse {
  position: relative;
  min-width: 367px;
  width: 36.7%;
}
.watch .watch__body .watch__ellipse .ellipse__image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.watch .watch__body .watch__text {
  position: absolute;
  max-width: 31.25%;
  margin-top: 85px;
  right: 13.3%;
}
.watch .watch__body .watch__text .watch__title {
  font-weight: 700;
  line-height: 80px;
  font-size: 6.65rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 5.3125rem;
    line-height: 75%;
  }
}
@media (max-width: 900px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 800px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 640px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 54px;
    line-height: 75%;
  }
}
@media (max-width: 600px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 45px;
    line-height: 75%;
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 35px;
    line-height: 75%;
  }
}
@media (max-width: 400px) {
  .watch .watch__body .watch__text .watch__title {
    max-width: 130px;
    font-size: 30px;
    line-height: 75%;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .watch .watch__body .watch__text .watch__title {
    font-size: 28px;
    line-height: 75%;
    margin-bottom: 20px;
  }
}
.watch .watch__body .watch__text .watch__title span {
  color: #FFEE2E;
}
.watch .watch__body .watch__button {
  margin-right: 8.5%;
  margin-top: 546px;
}
@media (max-width: 800px) {
  .watch .watch__body .watch__button {
    margin-right: 55px;
  }
}
@media (max-width: 700px) {
  .watch .watch__body .watch__button {
    margin-right: 20px;
  }
}
@media (max-width: 640px) {
  .watch .watch__body .watch__button {
    margin-left: 0px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}
@media (max-width: 400px) {
  .watch .watch__body .watch__button {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .watch .watch__body .watch__button button {
    width: 100%;
  }
}

.section1 {
  padding-top: 80px;
  width: 100%;
  height: 780px;
  background: url("/my_Projects/zoo/online-zoo/pages/main/images/Giant_Panda.png") 100% top no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .section1 {
    height: 584px;
    padding-bottom: 43px;
    padding-top: 69px;
  }
}
@media (max-width: 640px) {
  .section1 {
    height: 373px;
    padding-bottom: 35px;
    padding-top: 45px;
  }
}
@media (max-width: 400px) {
  .section1 {
    height: 300px;
  }
}
@media (max-width: 320px) {
  .section1 {
    height: 221px;
    padding-bottom: 43px;
    padding-top: 50px;
  }
}
.section1 .section1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.section1 .ellipse__container {
  width: 50%;
  height: 474px;
  background-image: url("/my_Projects/zoo/online-zoo/pages/main/images/Ellipse.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 80%;
  padding-top: 60px;
  padding-left: 45px;
}
@media (max-width: 1100px) {
  .section1 .ellipse__container {
    background-size: 85%;
  }
}
@media (max-width: 1000px) {
  .section1 .ellipse__container {
    margin-right: 60px;
    width: 49%;
    padding-left: 0px;
  }
}
@media (max-width: 900px) {
  .section1 .ellipse__container {
    padding-left: 30px;
    background-position: 20px 20px;
  }
}
@media (max-width: 800px) {
  .section1 .ellipse__container {
    margin-right: 10px;
    width: 55%;
    background-position: 10px 15px;
    background-size: 90%;
    padding-top: 60px;
    padding-left: 50px;
  }
}
@media (max-width: 700px) {
  .section1 .ellipse__container {
    background-size: 97%;
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  .section1 .ellipse__container {
    background-position: 10px 0px;
    background-size: 80%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .section1 .ellipse__container {
    background-position: 20px 0px;
    background-size: 90%;
    padding-left: 40px;
  }
}
@media (max-width: 320px) {
  .section1 .ellipse__container {
    padding-top: 25px;
    margin-bottom: 20px;
  }
}
.section1 .ellipse__container .title {
  font-weight: 700;
  line-height: 80px;
  font-size: 107px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .section1 .ellipse__container .title {
    font-size: 90px;
  }
}
@media (max-width: 1000px) {
  .section1 .ellipse__container .title {
    font-size: 85px;
    line-height: 75%;
  }
}
@media (max-width: 900px) {
  .section1 .ellipse__container .title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 800px) {
  .section1 .ellipse__container .title {
    font-size: 70px;
    line-height: 75%;
  }
}
@media (max-width: 640px) {
  .section1 .ellipse__container .title {
    font-size: 54px;
    line-height: 75%;
  }
}
@media (max-width: 600px) {
  .section1 .ellipse__container .title {
    font-size: 45px;
    line-height: 75%;
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  .section1 .ellipse__container .title {
    font-size: 35px;
    line-height: 75%;
  }
}
@media (max-width: 400px) {
  .section1 .ellipse__container .title {
    max-width: 130px;
    font-size: 30px;
    line-height: 75%;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .section1 .ellipse__container .title {
    font-size: 28px;
    line-height: 75%;
    margin-bottom: 20px;
  }
}
.section1 .ellipse__container .title span {
  color: #FFEE2E;
}

.section2 {
  padding-top: 140px;
}
@media (max-width: 1000px) {
  .section2 {
    padding-top: 100px;
  }
}
@media (max-width: 640px) {
  .section2 {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .section2 {
    padding-top: 100px;
  }
}
.section2 .section2__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.section2 .section2__main-block .bamboo-cap {
  display: block;
  width: 609;
  height: 403px;
}
@media (max-width: 1300px) {
  .section2 .section2__main-block .bamboo-cap {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .section2 .section2__main-block .bamboo-cap {
    width: 455px;
    height: 408px;
  }
}
@media (max-width: 900px) {
  .section2 .section2__main-block .bamboo-cap {
    width: 305px;
    height: auto;
  }
}
@media (max-width: 800px) {
  .section2 .section2__main-block .bamboo-cap {
    display: none;
  }
}
.section2 .section2__main-block .section2__text-block {
  margin-left: 10px;
  max-width: 465px;
}
@media (max-width: 800px) {
  .section2 .section2__main-block .section2__text-block {
    max-width: 80%;
    text-align: left;
    border: 1px solid green;
  }
}
.section2 .section2__main-block .section2__text-block h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block h2 {
    font-size: 24px;
  }
}
.section2 .section2__main-block .section2__text-block .subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .subtext {
    margin-top: 10px;
  }
}
.section2 .section2__main-block .section2__text-block .two-header {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 54px;
}
@media (max-width: 900px) {
  .section2 .section2__main-block .section2__text-block .two-header {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .two-header {
    margin-top: 20px;
  }
}
.section2 .section2__main-block .section2__text-block .text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 34px;
  color: #333B41;
}
@media (max-width: 900px) {
  .section2 .section2__main-block .section2__text-block .text {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .section2 .section2__main-block .section2__text-block .text {
    margin-top: 10px;
  }
}
.section2 .section2__main-block .flower__container {
  display: none;
}
@media (max-width: 320px) {
  .section2 .section2__main-block .flower__container {
    display: block;
    margin-top: 0px;
    margin-right: -65px;
    width: 105px;
    height: 217px;
  }
  .section2 .section2__main-block .flower__container .flower-320 {
    width: 100%;
    height: 100%;
  }
}
.section2 .flower {
  display: block;
  position: absolute;
  right: 0;
  top: 800px;
}
@media (max-width: 1500px) {
  .section2 .flower {
    top: 950px;
    width: 10%;
  }
}
@media (max-width: 1400px) {
  .section2 .flower {
    top: 1000px;
    width: 7%;
  }
}
@media (max-width: 1300px) {
  .section2 .flower {
    top: 1060px;
    width: 5%;
  }
}
@media (max-width: 1200px) {
  .section2 .flower {
    display: none;
  }
}
@media (max-width: 800px) {
  .section2 .flower {
    display: block;
    height: 476px;
    width: 100px;
    top: 600px;
  }
}
@media (max-width: 640px) {
  .section2 .flower {
    top: 400px;
    height: 400px;
  }
}
@media (max-width: 550px) {
  .section2 .flower {
    width: 85px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .section2 .flower {
    width: max;
    height: max;
    top: 45%;
  }
}
@media (max-width: 400px) {
  .section2 .flower {
    top: 33%;
  }
}
@media (max-width: 400px) {
  .section2 .flower {
    display: none;
  }
}

.section3 {
  padding-top: 180px;
  padding-bottom: 80px;
  max-height: 872px;
}
.section3 .button-prev {
  cursor: pointer;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .section3 .button-prev {
    top: 485px;
  }
}
@media (max-width: 1000px) {
  .section3 .button-prev {
    top: 439px;
    left: 34%;
  }
}
@media (max-width: 900px) {
  .section3 .button-prev {
    top: 420px;
  }
}
@media (max-width: 800px) {
  .section3 .button-prev {
    top: 390px;
  }
}
@media (max-width: 700px) {
  .section3 .button-prev {
    top: 340px;
  }
}
@media (max-width: 640px) {
  .section3 .button-prev {
    top: 422px;
    left: 37%;
  }
}
@media (max-width: 500px) {
  .section3 .button-prev {
    left: 32%;
    top: 343px;
  }
}
@media (max-width: 400px) {
  .section3 .button-prev {
    display: none;
  }
}
.section3 .button-prev:active {
  background: green;
}
.section3 .button-prev .button-prev-arrow {
  position: relative;
  width: 16px;
  height: 10px;
  top: 0;
}
.section3 .button-prev .button-prev-arrow div {
  position: relative;
  top: 30px;
  width: 16px;
  height: 1px;
  background-color: #fff;
  left: 23px;
  display: block;
}
.section3 .button-prev .button-prev-arrow div::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 2.5px;
  right: 10px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 3;
}
.section3 .button-prev .button-prev-arrow div::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: -2.5px;
  right: 10px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 3;
}
.section3 .image-slider {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section3 .image-slider .image-slider__wrapper .image-slider__slide {
  height: calc((100% - 30px) / 2);
  overflow: hidden;
  outline: 1px solid red;
}
.section3 .button-next {
  cursor: pointer;
  position: absolute;
  width: 62px;
  height: 62px;
  bottom: 596px;
  top: 0;
  right: 0;
  z-index: 5;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  .section3 .button-next {
    bottom: 577px;
  }
}
@media (max-width: 1000px) {
  .section3 .button-next {
    bottom: 462px;
    right: 34%;
  }
}
@media (max-width: 900px) {
  .section3 .button-next {
    bottom: 482px;
  }
}
@media (max-width: 800px) {
  .section3 .button-next {
    bottom: 512px;
  }
}
@media (max-width: 700px) {
  .section3 .button-next {
    bottom: 422px;
  }
}
@media (max-width: 640px) {
  .section3 .button-next {
    bottom: 440px;
    right: 38%;
  }
}
@media (max-width: 500px) {
  .section3 .button-next {
    bottom: 420px;
    right: 34%;
  }
}
@media (max-width: 400px) {
  .section3 .button-next {
    display: none;
  }
}
.section3 .button-next:active {
  background: green;
}
.section3 .button-next .button-next-arrow {
  position: relative;
  width: 16px;
  height: 10px;
  top: 0;
}
.section3 .button-next .button-next-arrow div {
  position: relative;
  top: 30px;
  width: 16px;
  height: 1px;
  background-color: #fff;
  left: 23px;
  display: block;
}
.section3 .button-next .button-next-arrow div::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 2.5px;
  right: -0.8px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.section3 .button-next .button-next-arrow div::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: -2.5px;
  right: -0.8px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swiper-button-prev {
  left: -100px;
  background-color: red;
  color: red;
}

.section4 {
  padding: 69px 0 100px 0;
}
@media (max-width: 1000px) {
  .section4 {
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 640px) {
  .section4 {
    padding: 20px 0px;
  }
}
@media (max-width: 540px) {
  .section4 {
    padding: 20px 10px;
  }
}
.section4 .feed-a-friend__container {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  max-width: 1160px;
  padding: 41px 59px 59px 99px;
  border-radius: 20px;
  color: #333B41;
}
@media (max-width: 1000px) {
  .section4 .feed-a-friend__container {
    padding: 30px 48px 50px 49px;
  }
}
@media (max-width: 640px) {
  .section4 .feed-a-friend__container {
    padding: 10px 20px 60px 20px;
  }
}
@media (max-width: 540px) {
  .section4 .feed-a-friend__container {
    padding: 20px 5px 40px 5px;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__title {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  color: #FE9013;
}
@media (max-width: 640px) {
  .section4 .feed-a-friend__container .feed-a-friend__title {
    font-size: 2.625rem;
  }
}
@media (max-width: 540px) {
  .section4 .feed-a-friend__container .feed-a-friend__title {
    font-size: 1.5rem;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__subtitle {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 30px;
}
@media (max-width: 640px) {
  .section4 .feed-a-friend__container .feed-a-friend__subtitle {
    font-size: 1.375rem;
  }
}
@media (max-width: 540px) {
  .section4 .feed-a-friend__container .feed-a-friend__subtitle {
    font-size: 1.125rem;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__bold-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 40px;
}
@media (max-width: 540px) {
  .section4 .feed-a-friend__container .feed-a-friend__bold-text {
    display: none;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 10px;
}
.section4 .feed-a-friend__container .feed-a-friend__text a {
  color: #333B41;
  text-decoration-color: #FE9013;
  text-decoration-line: underline;
}
@media (max-width: 540px) {
  .section4 .feed-a-friend__container .feed-a-friend__text {
    display: none;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__second-title {
  font-size: 2.25rem;
  line-height: 1.3;
  margin-top: 60px;
  text-align: center;
}
@media (max-width: 1000px) {
  .section4 .feed-a-friend__container .feed-a-friend__second-title {
    margin-top: 40px;
  }
}
@media (max-width: 640px) {
  .section4 .feed-a-friend__container .feed-a-friend__second-title {
    margin-top: 30px;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
@media (max-width: 320px) {
  .section4 .feed-a-friend__container .feed-a-friend__second-title {
    margin-top: 20px;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 764px;
  margin: 40px auto 0 auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 900px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme {
    -webkit-column-gap: 42px;
       -moz-column-gap: 42px;
            column-gap: 42px;
  }
}
@media (max-width: 700px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    margin: 20px auto 0 auto;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__arrow-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 9.031%;
          flex: 1 1 9.031%;
  position: relative;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__arrow-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 900px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__arrow-container {
    display: none;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 168px;
          flex: 0 0 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 244px;
  z-index: 1;
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item .scheme__item-image {
  border-radius: 5px;
  margin-top: 0;
  z-index: 1;
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item .scheme__item-image img {
  width: 100%;
  z-index: 1;
}
@media (max-width: 700px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    width: 56%;
  }
}
@media (max-width: 500px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item {
    min-height: auto;
  }
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item .scheme__text {
  margin-top: 30px;
}
.section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item .scheme__text p {
  font-size: 1rem;
  line-height: 1.4;
  color: #333B41;
}
@media (max-width: 700px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item .scheme__text {
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item_arrow {
    position: relative;
  }
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item_arrow::before {
    content: "";
    position: absolute;
    width: 63.12px;
    height: 69.66px;
    background-image: url("../images/scheme/arrowss.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0;
    z-index: 8;
    right: 0;
    -webkit-transform: translate(-155px, -10px);
            transform: translate(-155px, -10px);
  }
}
@media (max-width: 900px) and (max-width: 700px) {
  .section4 .feed-a-friend__container .feed-a-friend__scheme .scheme__item_arrow::before {
    -webkit-transform: rotate(90deg) translate(-50px, -20px);
            transform: rotate(90deg) translate(-50px, -20px);
    height: 63.12px;
    width: 69.66px;
  }
}
.section4 .feed-a-friend__container button {
  margin: 60px auto 0 auto;
  border-radius: 25px;
}
@media (max-width: 1000px) {
  .section4 .feed-a-friend__container button {
    margin: 60px auto 0 auto;
  }
}
@media (max-width: 640px) {
  .section4 .feed-a-friend__container button {
    margin: 40px auto 0 auto;
  }
}
@media (max-width: 400px) {
  .section4 .feed-a-friend__container button {
    width: 100%;
  }
}