// Заголовки, загальні БЕМ блоки та інше...
// для створення блоків, які повторюються
// окремі компоненти, або модулі

// шапка блоку
.block-header {
    display: grid;
    gap: rem(20);
    justify-items: start;

    &--center {
        justify-items: center;
    }

    &--white {
        color: #fff;
    }

    &__label {
        line-height: 156.25%;
        /* 25/16 */
        text-transform: capitalize;
    }

    &__title {
        color: $goldColor;
        text-transform: capitalize;
        font-family: "Italiana";
        @include adaptiveValue("font-size", 48, 42);
        line-height: 120%;
    }

    &__text {
        line-height: 156.25%;
        display: grid;
        gap: rem(20);

        /* 25/16 */
        blockquote {
            font-style: italic;
        }
    }

    &__button {}
}