*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-style: normal;
    /* font-family: "Roboto" sans-serif; */
    font-family: Helvetica Neue;

    font-weight: light;
    font-size: 16px;
    /* position: relative; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    display: flex;
    height: 100vh;
    position: relative;
}

.cava {
    font-family: Helvetica Neue;
    font-weight: bold;
}

.cava2 {
    font-family: Helvetica Neue;
    font-weight: light;
}

/* [class*="__container"] {
    width: 90%;
    margin: 0 auto;
} */

/* .main__container {
    width: 100%;
    height: 100%;
} */

/* .left__block {
    width: 33.33%;
    background-color: #9373df;
    /* height: 100vh; */
/* content: ''; */
/* min-height: 100%; */
/* } */

.language {
    position: absolute;
    top: 0;
    right: 20px;
}

.language a {
    color: #000;
    font-style: italic;

}

.language a:hover {
    text-decoration: underline;
}

.contacts__contain {
    /* width: 250px; */
    width: 300px;
    /* background-color: #9373df; */
    /* background-color: #9c7796; */
    /* background-color: #6b6666; */
    background-color: #808080;

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 100vh; */
    padding-bottom: 15px;
    min-height: 100%;
    /* gap: 10px; */
}

/* .contain__image {

    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    overflow: hidden;
    align-self: center;
    border: 1px solid red;

} */
.contain__image {
    background: url('./photo.jpg') top left/ cover no-repeat;
    /* transform: translate(-20px, -20px); */
    /* width: 300px; */
    /* height: 400px; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* padding-left: -30px; */
    margin-bottom: 12px;
    align-self: center;

}

.contain__image img {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* border-radius: 50%; */
    display: block;
    width: 100%;
    height: 100%;
    /* height: ; */
    object-fit: cover;
    /* transform: scale(0.8) */
    /* transform: translate(0px, -130px); */
}

.contain__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-list__item {
    display: flex;
    gap: 10px;
    align-items: center;
}


.contacts-list-icon {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacts__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;

}

.contacts__block {
    position: relative;
    display: flex;
    align-items: center;
}

.contacts__block:not(:first-child) {
    margin-top: 10px;
}


.contacts__block a {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    /* font-style: italic; */
    color: #fff;
    margin-left: 10px;

}

.phone {
    letter-spacing: 1px;
}

/* .contacts__block a:hover {
    text-decoration: underline dashed #b8b8b8;
    border: 1px ;
} */

.block_underline:hover {
    border-bottom: 1px dashed #b8b8b8;
}

svg {
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    fill: blue;

}

.contacts__block:last-child svg {
    padding-left: 6px;
}

svg use {
    fill: blue;
    text-align: center;
}

.contain__softSkills {
    /* padding-left: 15px; */
    /* position: relative; */
    margin-top: 15px;

}

.contain__softSkills li {
    position: relative;
    color: #fff;
    padding-left: 15px;

}

.contain__softSkills li::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: blue;
    top: 8px;
    left: 0;
}

.basisInfo {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /* padding-left: 15px; */
}

.basisInfo__name {
    padding-left: 50px;
    margin-top: 50px;
    /* background-color: rgb(0, 0, 0, ); */
    background-color: #808080;

}



.basisInfo__name p {
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 5px;
}

h1 {
    font-family: Helvetica Neue;

    text-align: left;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    padding-top: 5px;
}

.basisInfo__container {
    margin-left: 30px;
}

.basisInfo__education {
    margin-top: 20px;
    /* margin-left: 20px; */
    /* border-bottom: 1px solid #808080; */

}

.basisInfo__education p:nth-child(even) {
    /* color: blue; */
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #808080;
    font-weight: 600;
    color: blue;
    margin-top: 15px;
}

.university {}

.education__title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 15px;
    /* border-bottom: 1px solid blue */
    /* text-decoration: underline blue 2px; */
}

.education__university {}

.tech-Skils__container {
    margin-top: 20px;
}

h3 {
    font-size: 24px;
    color: blue;
    margin-bottom: 10px;
    border-bottom: 1px solid #808080;

}

.tech-Skils__list {
    margin-top: 10px;
    max-height: 150px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tech-Skils__list li {
    position: relative;
    padding-left: 15px;
}

.tech-Skils__list li::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: blue;
    top: 8px;
    left: 0;
}

h4 {
    font-size: 24px;
    color: blue;
    margin-bottom: 10px;
    border-bottom: 1px solid #808080;
    margin-top: 15px;
}

.aboutMe__container {
    margin-top: 10px;

}