//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	z-index: 9;

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(23);
	}

	// .header__logo
	&__logo {
		position: relative;
		background-image: url(../img/01/cloud2.png);
		background-position: top;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 30.5%;
		display: flex;
		align-items: center;
		padding: rem(12) rem(20) rem(12) rem(26);
		z-index: 10;

		.logo {
			width: 100%;

			img {
				width: 100%;
			}
		}

	}
}


.menu {
	background-image: url(../img/01/cloud.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 41%;
	@include adaptiveValue("padding-top", 41, 20);
	@include adaptiveValue("padding-bottom", 38, 20);
	padding-bottom: rem(38);

	@media (max-width:$mobile) {
		background-image: none;
		display: none;
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}


	// .menu__item
	&__item {
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 14);
		font-size: rem(20);
		color: $brown;

		&:hover {
			text-decoration: underline;
		}
	}

}

.burger-menu {
	position: absolute;
	background-color: #fff;
	z-index: 10;
	width: 0;
	height: 0;
	transition: all 0.3s;

	&.active {
		display: block;
		width: 100vw;
		height: 100vh;
	}

	// .burger-menu__menu
	&__menu {}
}

.menu-burger {
	display: none;

	&.active {
		display: block;
	}

	// .menu-burger__list
	&__list {
		margin-top: rem(50);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: rem(25);

	}

	// .menu-burger__item
	&__item {
		font-weight: 700;
		font-size: rem(60);
		color: $brown;

		&:hover {
			text-decoration: underline;
		}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	// display: none;
	display: block;
	position: absolute;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 10;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #F9E994;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		&.menu-open {
			span {
				width: 0;
			}

			&::before,
			&::after {	
				background-color: #715D00;
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}