//====================================================================================================
.footer {
    position: relative;
    padding: rem(0) rem(0) rem(0) rem(0);
    background-color: $bgDark;
    color: $bgGold;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: rem(174);

        // z-index: -1;
        // pointer-events: none;
        @media (max-width: em(1640)) {
            opacity: 0.1;
        }
    }

    &::before {
        content: '';
        left: 0;
        bottom: 0;
        background: url("../img/footer-decor-01.svg") left bottom /100% no-repeat;

    }

    &::after {
        content: '';
        right: 0;
        top: 0;
        transform: rotate(-180deg);
        background: url("../img/footer-decor-01.svg") left bottom /100% no-repeat;
    }

    &__container {
        position: relative;
        z-index: 5;
    }

    &__body {
        @include adaptiveValue("padding-top", 92, 30);
        @include adaptiveValue("padding-bottom", 45, 30);
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width:$tablet) {
            grid-template-columns: repeat(2, 1fr);

        }

        @media (max-width:$mobile) {
            grid-template-columns: auto;
        }
    }

    &__content {
        @include adaptiveValue("padding-right", 40, 15);

        @media (max-width:$tablet) {
            order: 2;
        }

        @media (max-width:$mobile) {
            order: 3;

        }

        @media (min-width: $tablet) {
            border-right: rem(1) solid $bgGold;

        }
    }


    &__menu {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }

    &__social {}

    &__logo {
        justify-self: center;
        align-self: center;
        @include adaptiveValue("width", 287, 150);

        @media (max-width:$tablet) {
            order: 1;
            grid-column: span 2;

            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 30);
            }
        }

        @media (max-width:$mobile) {
            grid-column: span 1;
        }
    }

    &__subscribe {

        @media (max-width:$tablet) {
            order: 3;
        }

        @media (max-width:$mobile) {
            order: 2;

            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 30);
            }
        }
    }

    &__copy {
        border-top: rem(1) solid $bgGold;
        text-align: center;
        line-height: 120%;
        @include adaptiveValue("padding-top", 42, 15);
        @include adaptiveValue("padding-bottom", 42, 15);
    }
}

.menu-footer {
    &__title {
        font-size: rem(20);
        font-family: "Italiana", serif;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-bottom: rem(15);
        }


    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(3);
        @include adaptiveValue("column-gap", 42, 15);


        @media (max-width:$mobile) {
            column-gap: rem(20);
        }


    }

    &__item {}

    &__link {
        font-weight: 300;
        line-height: 156%;
        display: inline-block;
        transition: color 0.3s;

        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
                color: $goldColorHover;

            }
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(3);
    @include adaptiveValue("column-gap", 41, 15);

    @media (max-width:$mobileSmall) {
        justify-content: space-between;
    }

    &__item {
        font-size: rem(24);

        @media (any-hover: hover) {
            &:hover {
                color: $goldColorHover;
            }
        }
    }
}

.subscribe {
    @include adaptiveValue("padding-left", 40, 15, 2, $containerWidth, 767.98);

    @media (min-width:$mobile) {
        display: grid;
        border-left: rem(1) solid $bgGold;
        justify-items: end;
        // justify-self: end;
    }

    &__body {
        @media (min-width:$mobile) {
            max-width: rem(350);

        }
    }

    &__title {
        font-family: "Italiana", serif;
        display: flex;
        text-transform: capitalize;
        @include adaptiveValue("font-size", 32, 18);
        line-height: 120%;

        &:not(:last-child) {
            @include adaptiveValue(" margin-bottom", 25, 10);
        }

    }

    &__form {
        display: flex;
        height: rem(40);
        border-bottom: rem(1) solid rgb(193, 170, 129, 0.2);
        position: relative;

        .form__error {
            position: absolute;
            top: 100%;
            left: 0;
            font-size: rem(11);
            color: red;
            margin-top: rem(5);
        }
    }

    &__input {
        flex: 1 1 auto;
    }

    &__button {
        transition: color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $goldColorHover;
            }
        }
    }
}

//====================================================================================================