//====================================================================================================

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: all 0.8s;

	&._header-scroll {
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: rem(20);
		@include adaptiveValue("min-height", 152, 70);
		padding-top: rem(10);
		padding-bottom: rem(10);
		align-items: center;
		transition: min-height 0.8s;

		@media (max-width:$mobile) {
			gap: rem(0);
			grid-template-columns: auto 1fr auto auto;
		}

		._header-scroll & {
			@include adaptiveValue("min-height", 100, 70);
		}
	}

	&__menu {}

	&__logo {
		@include adaptiveValue("width", 217, 80);
		position: relative;
		z-index: 5;
		transition: width 0.8s;

		@media (max-width:$mobile) {
			.menu-open & {
				path {
					fill: #fff;
				}
			}
		}

		._header-scroll & {
			@include adaptiveValue("width", 150, 80);
		}

	}

	&__action {}
}

.menu {

	&__icon {}

	&__body {
		@media (max-width:$mobile) {
			position: fixed;
			grid-template-rows: 1fr auto;
			gap: rem(30);
			display: grid;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			background-color: $bgGold;
			padding: rem(100) rem(15) rem(30) rem(15);
			transition: left 0.3s;

			&::before {
				content: '';
				position: fixed;
				width: 100%;
				@include adaptiveValue("height", 152, 70);
				top: 0;
				left: -100%;
				background-color: $bgGold;
				z-index: 2;
				transition: left 0.3s;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(3);
		align-items: center;
		@include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);

		@media (max-width:$mobile) {
			flex-direction: column;
			row-gap: rem(20);
		}
	}

	&__item {}

	&__link {
		display: inline-block;
		color: $bgGold;
		font-weight: 300;
		line-height: 152%;

		@media (max-width:$mobile) {
			color: #fff;
			font-size: rem(28);
		}

		@media (any-hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		&._navigator-active {
			// color:$bgGold;
			text-decoration: underline;

		}
	}
}

.icon-menu {}

.action-header {
	// justify-self: end;
	justify-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	row-gap: rem(3);
	align-items: center;
	@include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);

	@media (max-width:$mobile) {
		justify-content: center;
	}

	&__link {
		display: inline-block;
		color: $bgGold;
		font-weight: 300;
		line-height: 152%;
		cursor: pointer;

		@media (max-width:$mobile) {
			color: #fff;
		}

		@media (any-hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__button {
		@media (max-width:$tablet) {
			padding: rem(8) rem(20);
		}

		@media (max-width:$mobile) {
			border: rem(1) solid #fff;
			color: #fff;
		}
	}

}


//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $bgGold;

			.menu-open & {
				background-color: #fff;
			}
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}