main {
    flex: 1 1 auto;
}





.section5 {
    width: 100%;
    padding-bottom: 180px;


    h4 {
        margin-top: 140px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #333B41;
    }

    .reviews-slider {
        margin-top: 47px;
        width: 72.5%;

        .reviews-slider__wrapper {
            .reviews-slider__slide {
                background-color: #F1F3F2;
                max-width: 268px;
                height: 391px;
                padding: 15px 15px 19px 16px;

                .reviews-slider__card {
                    .reviews-slider__profile-container {

                        img {
                            width: 37px;
                            float: left;
                            margin-right: 10px;

                        }

                        &:first-line {
                            font-weight: 400;
                            font-size: 16px;
                            color: #000000;
                        }

                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 120%;
                            color: #BDBDBD;
                        }
                    }

                    .reviews-slider__text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 120%;
                        text-align: left;
                        color: #767474;
                        margin-top: 10px;
                    }
                }
            }
        }

        .swiper-scrollbar {
            position: relative;
            width: 51.7%;
            margin-left: 24%;
            margin-top: 21px;

        }

        .swiper-scrollbar-drag {
            position: absolute;
            cursor: pointer;
            background: #FE9013;
            border-radius: 5px;
            max-width: 599px;


        }
    }

    button {
        margin-top: 31px;
        margin-left: 13.75%;
        border-radius: 5px;

        &::before {
            border-radius: 5px;

        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 50px;

    .donate-block {
        .logo {
            // margin-bottom: 68px;
        }

        button {
            margin-top: 120px;
            border-radius: 5px;

            &::before {
                border-radius: 5px;
            }
        }

        .social {
            margin-top: 44px;
            display: flex;
            flex-direction: column;

            a {


                margin-top: 10px;

                img {
                    float: left;
                    border-radius: 50%;

                    &:active {
                        background-color: #4b9200;
                    }
                }

                p {
                    &:active {
                        color: #4B9200;
                    }

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-left: 38px;
                }
            }

        }

    }

    .navigation-block {
        margin-bottom: 0;
        height: 100%;

        nav {
            margin-top: 100%;
            height: 100%;

        }
    }

    .subscribe-block {
        h5 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
        }

        form {
            margin-top: 14px;

            input {
                width: 228px;
                height: 42px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #BDBDBD;
                padding: 10px;
                border-radius: 2px;
                border: solid 0.7px;
                border-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
                border-image-slice: 1;
                outline: none;


                &::placeholder {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #BDBDBD;
                    outline: none;
                }

                &:invalid {
                    border: 1px solid #D31414;
                    color: #D31414;
                }

                &:valid {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }

                &:active {
                    border: 1px solid #4B9200;
                }
            }

            button {
                margin-left: 8px;
                width: 129px;
                height: 42px;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                color: #333B41;
                border: 1 px solid #333B41;
                border-radius: 5px;
                // &:valid {
                //     color: #4B9200;
                //     border: 1px solid #4B9200;
                // }

                &:invalid {
                    border: 1px solid #D31414;
                    color: #D31414;
                }

                &:active {
                    border: 1px solid #4B9200;
                }

                &:focus {
                    color: #4B9200;
                    border: 1px solid #4B9200;
                }
            }
        }

        .contacts {
            // vertical-align: bottom;
            // position: relative;
            // bottom: 0px;
            // margin-bottom: 0px;
            margin-top: 100%;
            // margin-left: 100%; // &:last-child {
            //     margin-top: 25px;
            // }

            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 130%;
                color: #D9D9D9;
                display: block;
                text-align: right;

                &:last-of-type {
                    margin-top: 10px;
                }

            }
        }

    }

}