//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	padding: rem(10) rem(40);
	font-weight: 30;
	line-height: 156%;
	border-radius: rem(50);
	background-color: #fff;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		transition: opacity 0.3s;
		background: url("@img/bg-button.jpg") center / cover no-repeat;
	}

	&--fw {
		width: 100%;
	}

	&--border {
		transition: all 0.3s;
		background-color: transparent;
		border: rem(1) solid $bgGold;
		color: $bgGold;

		&::before {
			opacity: 0;
		}

		@media (any-hover:hover) {
			&:hover {
				border: rem(1) solid transparent;

			}
		}
	}



	span {
		position: relative;
	}

	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;

			&::before {
				opacity: 1;
			}
		}
	}
}